@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css"; 

/* Overwrite Bootstrap container widths */
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: var(--bs-breakpoint-lg);
    }
}

header#site-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
    
    .banner-container {
        position: relative;
        /* No idea why this is needed… The container is always 4px too large. */
        max-height: 230px;

        .overlay {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            background: rgba(38, 38, 38, 0.4);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #logo {
                filter: saturate(55%);
            }

            #logo-text {
                color: white;
                font-weight: bold;
                margin-top: 1rem;
                font-size: 1.2rem;
            }
        }

        #banner {
            /* height: 10rem; */
            max-width: 100%;
            object-fit: cover;
        }
    }
    
    nav .nav-item a:hover,
    nav .nav-item a:focus, 
    nav .nav-item .active {
        text-decoration: underline;
    }
}

footer#site-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    opacity: 0.8;

    ul {
        li {
            display: inline;

            &::after {
                content: " · ";
            }

            &:last-child:after {
                content: "";
            }

            a,
            a:visited {
                color: inherit;
            }

            a.active {
                font-weight: bold;
            }

            a:hover {
                color: black;
            }
        }
    }
}

article.content {
    text-align: justify;
    hyphens: auto;

    header {
        margin-bottom: 2rem;
    }

    .figure {
        margin-left: auto;
        margin-right: auto;
    }

    table tbody tr.dimmed {
        opacity: 0.5;
    }

    table tbody tr.line-through {
        text-decoration: line-through;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a,
        a:visited {
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    :target {
        background-color: var(--bs-yellow);
    }
}
